:root {
  --clr-neutral-100: white;
  --clr-neutral-900: black;
  --clr-primary-400: red;
  --clr-secondary-400: orange;
  
  --fs-200: 0.8rem;
  --fs-300: 0.9rem;
  --fs-400: 1.1rem;
  --fs-600: 1.35rem;
  --fs-900: 2rem;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  --_text-color: var(--clr-neutral-900);
  --_text-font-size: var(--fs-400);
  
  color: var(--_text-color);
  font-size: var(--_text-font-size);
}

legend {
  color: var(--clr-primary-400);
}

.field {
  font-size: var(--_text-font-size);
  margin-block: 1em;
  
  & label {
    display: block;
    
    color: var(--clr-primary-400);
  }
  
  & input {
    --_text-font-size: var(--fs-600);
    font-size: var(--_text-font-size);
  }
}

.input-border {
  position: relative;
  display: inline-block;
  isolation: isolate;
  z-index: 0;
  height: 4em;
  aspect-ratio: 5 / 1;
  
  --_border-width: 3px;
  --_cutoff: 1em;
  
  &::before {
    position: absolute;
    content: '';
    display: block;
    z-index: -1;
    
    inset: 0;
    background: var(--clr-primary-400);
    clip-path: polygon(0% 0%,
                       calc(100% - var(--_cutoff)) 0%,
                       100% var(--_cutoff),
                       100% 100%,
                       var(--_cutoff) 100%,
                       0% calc(100% - var(--_cutoff)));;
  }
  
  &::after {
    --_cutoff: calc(1em  - (var(--_border-width) / 2));
    
    position: absolute;
    content: '';
    display: block;
    z-index: -1;
    
    inset: var(--_border-width);
    background: var(--clr-neutral-100);
    clip-path:  polygon(0% 0%,
                        calc(100% - var(--_cutoff)) 0%,
                        100% var(--_cutoff),
                        100% 100%,
                        var(--_cutoff) 100%,
                        0% calc(100% - var(--_cutoff)));
  }
  
  & :is(input, textarea) {
    height: calc(100% - var(--_cutoff));
    width: calc(100% - var(--_cutoff));
    z-index: 2;
    
    border: none;
    background: pink;
    
    margin: calc(var(--_cutoff) / 2);
  }
  
  &:has(input[required]) .right-extra::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    background-color: var(--clr-primary-400);
    width: 1em;
    aspect-ratio: 1;
    
    --_gap: 2px;
    
    clip-path: polygon(var(--_gap) 0, 100% 0%, 100% calc(100% - var(--_gap)));
  }
  
  &:has(input:focus-visible) .left-extra::after {
  /* &:has(input[required]) .left-extra::after { */
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: calc(-1em - 2px);
    width: 2em;
    background-color: var(--clr-primary-400);
    
    --_gap: 2px;
    
    clip-path: polygon(0% 0%, 50% 0%, 50% 75%, 100% 100%, 0% 100%);
    /* clip-path: circle(40%); */
  }
}
