<form>
  <fieldset>
    <legend>Setup</legend>
    <div class="field">
      <label for="player">Player</label>
      <input type="text" name="player" required />
    </div>
    <div class="field">
      <label for="name">Name</label>
      <input type="text" name="name" />
    </div>
    <div class="field">
      <label for="role">Role</label>
      <div class="options-carousel" data-controller="options-carousel">
        <button class="back" data-action="options-carousel#prev" type="button"></button>
        <input type="text" name="role" list="roles" readonly="readonly" data-options-carousel-target="field" />
        <button class="forward" data-action="options-carousel#next" type="button"></button>
      </div>
      <datalist id="roles">
        <option value="Fixer"></option>
        <option value="Solo"></option>
        <option value="Exec"></option>
      </datalist>
    </div>
  </fieldset>
  <fieldset data-controller="options-table">
    <legend>Personals</legend>
    <div class="field">
      <label for="origins">Cultural origins</label>
      <input type="text" name="origins" required data-options-table-target="field" />
    </div>
    <div class="options-table">
      <table>
        <thead>
          <tr>
            <th>Roll</th>
            <th>Origins</th>
          </tr>
        </thead>
        <tbody>
          <tr data-options-table-target="option" data-action="click->options-table#pick">
            <th>1</th>
            <td>North American</td>
          </tr>
          <tr data-options-table-target="option" data-action="click->options-table#pick">
            <th>2</th>
            <td>South/Central American</td>
          </tr>
          <tr data-options-table-target="option" data-action="click->options-table#pick">
            <th>3</th>
            <td>Western Europe</td>
          </tr>
          <tr data-options-table-target="option" data-action="click->options-table#pick">
            <th>4</th>
            <td>Eastern Europe</td>
          </tr>
          <tr data-options-table-target="option" data-action="click->options-table#pick">
            <th>5</th>
            <td>Middle Eastern/North African</td>
          </tr>
          <tr data-options-table-target="option" data-action="click->options-table#pick">
            <th>6</th>
            <td>Sub-Saharan African</td>
          </tr>
          <tr data-options-table-target="option" data-action="click->options-table#pick">
            <th>7</th>
            <td>South Asian</td>
          </tr>
          <tr data-options-table-target="option" data-action="click->options-table#pick">
            <th>8</th>
            <td>South-East Asian</td>
          </tr>
          <tr data-options-table-target="option" data-action="click->options-table#pick">
            <th>9</th>
            <td>East Asian</td>
          </tr>
          <tr data-options-table-target="option" data-action="click->options-table#pick">
            <th>10</th>
            <td>Oceania/Pacific Islander</td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn-action" data-action="options-table#pickAtRandom">Random</button>
    </div>
    <div class="field">
      <label for="personality">Personality</label>
      <input type="text" name="personality" required />
    </div>
  </fieldset>
  <fieldset>
    <legend>Background</legend>
  </fieldset>
  <fieldset>
    <legend>Wrap-up</legend>
  </fieldset>
  <fieldset>
    <legend>Role lifepath</legend>
  </fieldset>
</form>
